.request-section {
	padding: 100px 40px;
	background-color: #fff;
}

.request-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 100px;
}

/* Левая часть */
.request-info {
	flex: 0 0 600px;
}

.request-title {
	margin-bottom: 60px;
}

.request-text {
	font-size: 20px;
	line-height: 1.4;
	color: #333;
	font-weight: 300;
}

/* Форма */
.request-form {
	flex: 1;
	display: grid;
	grid-template-columns: 1fr 1fr; /* Две колонки для email и телефона */
	gap: 40px 30px;
}

.form-group {
	display: flex;
	flex-direction: column;
}

.form-group.full-width {
	grid-column: span 2; /* Имя занимает всю ширину */
}

.form-group label {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4;
	color: var(--c-blue);
	margin-bottom: 20px;
}

.form-group input {
	border: none;
	border-bottom: 1px solid #e0e0e0;
	padding: 10px 0;
	font-size: 24px;
	color: #333;
	outline: none;
	transition: border-color 0.3s;
}

.form-group input::placeholder {
	color: #ddd;
	font-weight: 400;
}

.form-group input:focus {
	border-bottom-color: #5b6c8f;
}

/* Кнопка */
.btn-submit {
	grid-column: span 2;
	justify-self: start; /* Кнопка не на всю ширину, а по контенту слева */
	background-color: var(--button-bgc);
	color: #fff;
	border: none;
	padding: 24px 32px;
	font-size: 16px;
	cursor: pointer;
	margin-top: 10px;
}
@media (max-width: 1400px) {
	.request-wrapper {
		flex-direction: column;
		gap: 50px;
	}
	.request-info {
		flex: none;
		width: 100%;
	}
}
/* Адаптив */
@media (max-width: 1092px) {
	.request-section {
		padding: 60px 20px;
	}

	.request-title {
		font-size: 48px;
	}

	.request-form {
		grid-template-columns: 1fr; /* На мобилках все поля в одну колонку */
	}

	.form-group.full-width {
		grid-column: span 1;
	}
	.form-group input {
		font-size: 18px;
	}
	.form-group label {
		font-size: 16px;
	}
	.btn-submit {
		grid-column: span 1;
	}
}
